# Data science Tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- Understand the fundamental tools and platforms used in data science.
- Apply Python libraries to manipulate data and perform statistical analysis.
- Develop skills in data visualization with practical examples.

Some of the popular languages that Data Scientists use are:

Python
R
SQL


Some of the commonly used libraries used by Data Scientists include:
Numpy
Pandas
Scikit-Learn
TensorFlow

| Data Science Tools |
|---------------------|
| Jupyter Notebook    |
| Pandas              |
| Scikit-Learn        |

Below are a few examples of evaluating arithmetic expressions in Python

# This simple arithmetic expression first adds 3 and 4, then multiplies the result by 5

In [2]:
result = (3 + 4) * 5
print(result)

35

# This will convert 200 minutes to hours by dividing by 60

In [3]:
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

## Author

ATEF ROUHANI